*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("../IMAGEM/verde.jpg");
    color: #fff;
    font-family: 'arial';
    background-position: center;
}

input{
    display: block;
    width: 370px;
    height: 63px;
    margin: 10px;
    border-radius: 30px;
    font-size: 16pt;
    padding: 10px 20px;
    font-size: 1.5em;
    row-gap: 80px;
}

div#corpo-form{
    background-color:rgba(255, 255, 255, 0.448) ;
    width: 452px;
    height: 546px;
    border-radius: 48px;
}
div#corpo-form h1{
    text-align: center;
    padding: 20px;
    display:flex ;
    flex-direction: column;
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;

}
a:hover{
    text-decoration: underline;
}




